body { 
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0; 
    height: 100vh;
}

#buttons { 
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 100px; 
}

button { 
    padding: 50px;
    background-color: lightblue;
}